{% extends 'base.html.twig' %}

{% block title %}Likes index{% endblock %}

{% block body %}
    <h1>Likes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idlike</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for like in likes %}
            <tr>
                <td>{{ like.idlike }}</td>
                <td>
                    <a href="{{ path('app_likes_show', {'idlike': like.idlike}) }}">show</a>
                    <a href="{{ path('app_likes_edit', {'idlike': like.idlike}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_likes_new') }}">Create new</a>
{% endblock %}
