{% extends 'base.html.twig' %}

{% block title %}New AnnonceAdoption{% endblock %}
 {% block adoption %}
     <li class="scroll-to-section"><a href="#" class="active">Adoption</a>
         <div class="sub-menu-1">
             <ul>
                 <li> <a href="{{ path('app_annonce_adoption_my_index') }}">My Posts</a></li>

                 <li> <a href="{{ path('app_annonce_adoption_index') }}">All Posts</a></li>

                 <li></li>
             </ul>
         </div>
     </li>
 {% endblock %}
{% block body %}
    <div style="margin-left:350px;">
    {{ include('annonce_adoption/_frontForm.html.twig') }}
    <a href="{{ path('app_annonce_adoption_index') }}">back to list</a>
    </div>
{% endblock %}
