
{%  block body %}
<html>
    <head>
        <title>Simple Markers</title>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

        <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/templatemo-digimedia-v2.css') }}">
        <script type="module" src="{{ asset('assets/location.js')}}"></script>
    </head>
<body>
<div id="map"></div>


<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAG1HwsLk_Q_l3KL6Ki1z83gXvppk_xVpY&callback=initMap&v=weekly"
        defer
></script>
</body>
</html>

{% endblock %}