{% extends 'baseBack.html.twig' %}

{% block title %}Edit Produit{% endblock %}

{% block body %}
    <h1>Edit Produit</h1>
  <div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">

    {{ include('produit/_form.html.twig', {'button_label': 'Update'}) }}

  

    <a href="{{ path('app_produit_index') }}">back to list</a>


      </div>
     </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
