{% extends 'base.html.twig' %}

{% block title %}New AnnonceProprietaireChien{% endblock %}

{% block body %}
    <h1>Create new AnnonceProprietaireChien</h1>

    {{ include('annonce_proprietaire_chien/_form.html.twig') }}

    <a href="{{ path('app_annonce_proprietaire_chien_index') }}">back to list</a>
{% endblock %}
