

{% block body %}
    <h4>Our Available Services</h4>

    <table class="table">

        <tbody>
        {% for business_service in business_services %}
            <tr>
                <td>{{ business_service.nomservice }}</td>
                <td>{{ business_service.prix }}</td>

                <td class="text-right">

                    <a href="{{ path('app_reservation_new', {'idbusinessservices': business_service.idbusinessservices}) }}" >Book Now</a>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
