

{% block body %}
    <h4>Our Available Services</h4>









        {% for business_service in business_services %}

            <table class="table">
            <tbody>
            <div class="space-2"></div>

            <div class="flex-services ">

                     <span>{{ business_service.nomservice }}</span>


                    <span>{{ business_service.prix }}</span>
                <div class="tag-book">

                    <a href="{{ path('app_reservation_new', {'idbusinessservices': business_service.idbusinessservices}) }}" >Book Now</a>
                </div>

            </div>
            <div class="space-2"></div>

            <hr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
