

{% block body %}
    <h4>Our Available Services</h4>









        {% for business_service in business_services %}

            <table class="table">
            <tbody>
            <div class="flex-services ">
                 <div class="flex-services-items-15 ">
                     <span>{{ business_service.nomservice }}</span>
                 </div>

                <div class="flex-services-items-25 ">
                    <span>{{ business_service.prix }}</span>
                </div>
                <div class="flex-services-items ">
                    <a href="{{ path('app_reservation_new', {'idbusinessservices': business_service.idbusinessservices}) }}" >Book Now</a>
                </div>

            </div>

        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
