<form method="post" action="{{ path('app_chien_delete', {'idchien': chien.idchien}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chien.idchien) }}">
    <button class="btn">Delete</button>
</form>
