{% extends 'base.html.twig' %}

{% block title %}Dogs Next Door{% endblock %}



{% block body %}

    <div id="blog" class="blog">
        <div class="container">
            <div class="row">
                {% for chien in chiens %}

                    <div class="col-lg-3 show-up wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                        <div class="blog-post">
                            <div class="thumb">

                                <a href="#"><img src="{{asset('FrontOffice/uploads/'~chien.image) }}" alt=""></a>
                            </div>
                            <div class="down-content">
                                <span class="category">{{ chien.sexe }}</span>

                                <a href="#"><h4>{{ chien.nom }}</h4></a>
                                <p>
                                    {{chien.age }}</p>

                            </div>
                        </div>
                    </div>




                {% endfor %}

            </div>
        </div>
    </div>



{% endblock %}
