{% extends 'base.html.twig' %}

{% block title %}New Chien{% endblock %}

{% block body %}
    <h1>Create new Chien</h1>

    {{ include('chien/_form.html.twig') }}

    <a href="{{ path('app_chien_index') }}">back to list</a>
{% endblock %}
