{% extends 'base.html.twig' %}

{% block title %}New Chien{% endblock %}
{% block dogs %}
    <li class="active">
        <a href="{{ path('app_chien_index_back_office') }}">
            <i class="fa fa-paw" aria-hidden="true"></i>
            <p>Dogs</p>
        </a>
    </li>
{% endblock %}
{% block body %}

    <div class="content">
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-8">

                    {{ include('chien/_formfront.html.twig') }}

                </div>
            </div>
        </div>
    </div>
    <a href="{{ path('app_chien_index_my_dogs') }}">back to my dogs</a>

{% endblock %}
