{% extends 'base.html.twig' %}

{% block title %}Edit Revue{% endblock %}

{% block body %}
    <h1>Back Office</h1>

    <h1>Edit Revue</h1>

    {{ include('revue/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_revue_index') }}">back to list</a>

    {{ include('revue/_delete_form.html.twig') }}
{% endblock %}
