

{% block body %}
    <H3>Reviews</H3>
    <table class="table">
        <thead>
            <tr>
                <th>Idrevue</th>
                <th>Nbetoiles</th>
                <th>Commentaire</th>
                <th>Datepublication</th>

            </tr>
        </thead>
        <tbody>
        {% for revue in revues %}
            <tr>
                <td>{{ revue.idrevue }}</td>
                <td>{{ revue.nbetoiles }}</td>
                <td>{{ revue.commentaire }}</td>
                <td>{{ revue.datepublication ? revue.datepublication|date('Y-m-d') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
