{% extends 'base.html.twig' %}

{% block title %}New Revue{% endblock %}

{% block body %}
    <div class="ahbet">
    <h1>Create new Revue</h1>
        <h1>Create new Revue</h1>

    {{ include('revue/_form.html.twig') }}
    </div>

{% endblock %}
