{% extends 'baseBack.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <h1>Create new Categorie</h1>

    {{ include('categorie/_form.html.twig') }}

    <a href="{{ path('app_back_office_categorie') }}">back to list</a>
{% endblock %}
