{% extends 'base.html.twig' %}
{% block body %}

    <div class="ahbet">
        <a href="#" >Mon profil</a>
        <a href="{{ path('message') }}" >Mes messages </a>
        <a href="{{ path('app_offre_index') }}">Mes offres</a>
    </div>
{%  endblock %}

