{% extends 'base.html.twig' %}
{% block body %}


    <div class="ahbet">


       <!-- <a href="#">My profile</a>--->

        <a href="{{ path('puppyy',{'idutilisateur': individu.idutilisateur}) }}">profile</a>


        <br>
        <a href="{{ path('message') }}" >Mes messages </a>
        <br>
        <a href="{{ path('app_offre_index') }}">Mes offres</a>
    </div>
{%  endblock %}

